<html>
    <head>
        <title>Visa Application Screener</title>
    </head>
    <body>
        <h1>Visa Application Screener</h1>
        <h2>Single Application Form</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <p>{{ form.refile.label }} {{form.refile() }}
            </p>
            <p>{{ form.employer_num_employees.label }} {{form.employer_num_employees() }}
            </p>
            <p>{{ form.foreign_worker_ownership_interest.label }} {{form.foreign_worker_ownership_interest() }}
            </p>
            <p>{{ form.pw_amount_9089.label }} {{form.pw_amount_9089() }}
            </p>
            <p>What is the offered wage/salary range? If there has only been one wage/salary offer, enter the offer in the low field.
            </p>
            <p>{{ form.wage_offer_from.label }} {{form.wage_offer_from() }}
            </p>
            <p>{{ form.wage_offer_to.label }} {{form.wage_offer_to() }}
            </p>
            <p>{{ form.job_info_training.label }} {{form.job_info_training() }}
            </p>
            <p>{{ form.job_info_training_num_months.label }} {{form.job_info_training_num_months() }}
            </p>
            <p>{{ form.job_info_experience.label}} {{form.job_info_experience() }}
            </p>
            <p>{{ form.job_info_experience_num_months.label }} {{form.job_info_experience_num_months() }}
            </p>
            <p>{{ form.job_info_alt_field.label }} {{form.job_info_alt_field() }}
            </p>
            <p>{{ form.job_info_foreign_ed.label }} {{form.job_info_foreign_ed() }}
            </p>
            <p>{{ form.job_info_alt_occ.label }} {{form.job_info_alt_occ() }}
            </p>
            <p>{{ form.job_info_alt_occ_num_months.label }} {{form.job_info_alt_occ_num_months() }}
            </p>
            <p>{{ form.job_info_job_req_normal.label }} {{form.job_info_job_req_normal() }}
            </p>
            <p>{{ form.job_info_foreign_lang_req.label }} {{form.job_info_foreign_lang_req() }}
            </p>
            <p>{{ form.job_info_combo_occupation.label }} {{form.job_info_combo_occupation() }}
            </p>
            <p>{{ form.ji_foreign_worker_live_on_premises.label }} {{form.ji_foreign_worker_live_on_premises() }}
            </p>
            <p>{{ form.ji_live_in_domestic_service.label }} {{form.ji_live_in_domestic_service() }}
            </p>
            <p>{{ form.ji_live_in_dom_svc_contract.label }} {{form.ji_live_in_dom_svc_contract() }}
            </p>
            <p>{{ form.recr_info_professional_occ.label }} {{form.recr_info_professional_occ() }}
            </p>
            <p>{{ form.recr_info_coll_univ_teacher.label }} {{form.recr_info_coll_univ_teacher() }}
            </p>
            <p>{{ form.recr_info_coll_teach_comp_proc.label }} {{form.recr_info_coll_teach_comp_proc() }}
            </p>
            <p>{{ form.ri_posted_notice_at_worksite.label }} {{form.ri_posted_notice_at_worksite() }}
            </p>
            <p>{{ form.ri_layoff_in_past_six_months.label }} {{form.ri_layoff_in_past_six_months() }}
            </p>
            <p>{{ form.ri_us_workers_considered.label }} {{form.ri_us_workers_considered() }}
            </p>
            <p>{{ form.foreign_worker_info_training_comp.label }} {{form.foreign_worker_info_training_comp() }}
            </p>
            <p>{{ form.foreign_worker_info_req_experience.label }} {{form.foreign_worker_info_req_experience() }}
            </p>
            <p>{{ form.foreign_worker_info_alt_edu_experience.label }} {{form.foreign_worker_info_alt_edu_experience() }}
            </p>
            <p>{{ form.foreign_worker_info_rel_occup_exp.label }} {{form.foreign_worker_info_rel_occup_exp() }}
            </p>
            <p>{{ form.preparer_info_emp_completed.label }} {{form.preparer_info_emp_completed() }}
            </p>
            <p>{{ form.month.label }} {{form.month() }}
            </p>
            <p>{{ form.JOB_INFO_EDUCATION.label }} {{form.JOB_INFO_EDUCATION() }}
            </p>
            <p>{{ form.COUNTRY_OF_CITIZENSHIP.label }} {{form.COUNTRY_OF_CITIZENSHIP() }}
            </p>
            <p>{{ form.CLASS_OF_ADMISSION.label }} {{form.CLASS_OF_ADMISSION() }}
            </p>
            {{ form.submit }}
        </form>
        <p>Click <a href="{{ url_for('home') }}">here</a> to return to the home page.</p>
    </body>
</html>